<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div{
            width:500px;
            height:auto;
            border:solid 3px black;
            margin:auto;
        }
        input[type='text']{
            width:492px;
            font-size: 20px;
        }
        input[type='submit']:hover{
            background-color: blue;
            color: white;
        }
    </style>
</head>
<body bgcolor="#48d1cc">
   <div style="background-color: darkgrey">
       <form method="get" action="ss">
           <center><h3>Text To Speech</h3></center>
            <input type="text" name="inp" placeholder="Enter your text">
             <center><input type="submit"></center>
       </form>
   </div>
</body>
</html>